<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>疫情追踪</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />

		<script src="../static/js/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.min.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<script src="../static/js/china.js"></script>

	</head>

	<body>
		<!--<h1>全国疫情实时追踪</h1>-->

		<div id="title">全国疫情实时追踪</div>
		<div id="time">2020 05 28</div>
		<div id="left1">我是左一</div>
		<div id="left2">我是左二</div>
		<div id="center1">
			<div class="num">
				<h1>123</h1></div>
			<div class="num">
				<h1>123</h1></div>
			<div class="num">
				<h1>1234</h1></div>
			<div class="num">
				<h1>1213</h1></div>

			<div class="txt">
				<h2>累计确诊</h2></div>
			<div class="txt">
				<h2>剩余疑似</h2></div>
			<div class="txt">
				<h2>累计治愈</h2></div>
			<div class="txt">
				<h2>累计死亡</h2></div>
		</div>
		<div id="center2">我是中2</div>
		<div id="right1">我是右一</div>
		<div id="right2">我是右er</div>

		<!--<script src="{{ url_for('static', filename='js/ec_center.js') }}"></script>-->
		<script type="text/javascript" src="../static/js/ec_center.js"></script>
		<script type="text/javascript" src="../static/js/ec_left1.js"></script>
		<script type="text/javascript" src="../static/js/ec_left2.js"></script>
		<script type="text/javascript" src="../static/js/ec_right1.js"></script>
		<script type="text/javascript" src="../static/js/ec_right2.js"></script>
		<script src="../static/js/controller.js"></script>

	</body>

</html>